services:
  db:
    container_name: postgres_db
    image: postgres:16
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env.dev
    environment:
      - POSTGRES_DB=music_app_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    container_name: django_web
    build: 
      context: .
      target: backend-dev
    restart: always
    command: >
      bash -c "python manage.py migrate
      && python manage.py runserver 0.0.0.0:8000" 
    volumes:
      - .:/project_folder
      - static_volume:/project_folder/staticfiles
    env_file:
      - .env.dev
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/music_app_db

volumes:
  postgres_data:
  static_volume: