{% extends "layout_app_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- start nav-bar -->
<header class="header">
  <nav class="navbar">
    <ul class="navbar-container" >
      <li><a href="{% url 'music_app_home' %}" class="nav-link">Home</a></li>
      <li><a href="{% url 'user_login' %}" class="nav-link">Login</a></li>
      <li><a href="{% url 'user_registration' %}" class="nav-link">Sign Up</a></li>
    </ul>
  </nav>
</header>
<!-- end nav-bar -->

<body>
    <h1> Damn you've  forgotten your password :(</h1>

    <p>Please check your email to reset your password. Be sure to also check your Junk or Spam folders.</p>
</body>
<form action="{% url 'check_your_email_password' user_id=user_id %}" method="post" >
    {% csrf_token %}
    <div class="button-container">
        <input type="submit" id="submit-button" class="btn button-style" value="Re-send reset password email">
    </div>
</form>

{% endblock content %}
