{% extends "layout_app_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- start nav-bar -->
<header class="header">
  <nav class="navbar">
    <ul class="navbar-container" >
      <li><a href="{% url 'music_app_home' %}" class="nav-link">Home</a></li>
      <li><a href="{% url 'user_login' %}" class="nav-link">Login</a></li>
      <li><a href="{% url 'user_registration' %}" class="nav-link">Sign Up</a></li>
    </ul>
  </nav>
</header>
<!-- end nav-bar -->

<body>
    <h1> Your profile has been successfully activated :)</h1>
    <a href="{% url 'user_login' %}" class="nav-link">Login here</a>
</body>
{% endblock content %}