{% extends "layout_app_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<!-- start nav-bar -->
<header class="header">
  <nav class="navbar">
    <ul class="navbar-container" >
      <li><a href="{% url 'music_app_home' %}" class="nav-link">Home</a></li>
      <li><a href="{% url 'user_login' %}" class="nav-link">Login</a></li>
      <li><a href="{% url 'user_registration' %}" class="nav-link">Sign Up</a></li>
    </ul>
  </nav>
</header>
<!-- end nav-bar -->


<!-- Start Registration Form-->
<section class="page-details">
    <div class="container align-items-center justify-content-between page-info">
        <form id="auth-form" class="form-group" method="POST" action="{{ form_action_url }}" enctype="multipart/form-data">
            <title> Sign up to Music App</title>
            {% csrf_token %}
            <div id="email-error" class="error"></div>
            <div id="password-error" class="error"></div>
                <fieldset class="form-group my-4">
                    <div class="auth-form-input">
                            {{ form.email|as_crispy_field }}
                            <!--Include a validator for an email that already exists-->
                    </div>
                    <div class="auth-form-input">
                            {{ form.username|as_crispy_field }}
                    </div>
                    <div class="auth-form-input">
                            {{ form.password1|as_crispy_field }}
                            {{ form.password2|as_crispy_field }}  
                            <input type="checkbox" class="show-password-toggle" id="show_password_checkbox">
                            <label for="show_password_checkbox">Show Password</label>                         
                    </div>
                    <div class="button-container">
                        <input type="submit" id="submit-button" class="btn button-style" value="Submit">
                    </div>
                </fieldset>
            </div>       
        </form>

</section>
<!-- end Registration Form -->
<script type="module" src=" {% static 'music_app/js/validateEmail.js' %} "> </script>
<script type="module" src=" {% static 'music_app/js/validatePassword.js' %} "> </script>
<script type="module" src=" {% static 'music_app/js/passwordToggle.js' %} "> </script>

{% endblock content %}