{% extends "layout_app_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!-- start nav-bar -->
<header class="header">
  <nav class="navbar">
    <ul class="navbar-container" >
      <li><a href="{% url 'music_app_home' %}" class="nav-link">Home</a></li>
      <li><a href="{% url 'user_login' %}" class="nav-link">Login</a></li>
      <li><a href="{% url 'user_registration' %}" class="nav-link">Sign Up</a></li>
    </ul>
  </nav>
</header>
<!-- end nav-bar -->

<!-- Start Forgotten password Form-->
<section class="page-details">
    <div class="container align-items-center justify-content-between page-info">
        <form id="auth-form" class="form-group" method="POST" action="{{ form_action_url }}" enctype="multipart/form-data">
            <title> Forgotten Your Password -.-</title>
            {% csrf_token %}
              <div id="email-error" class="error"></div>
                <fieldset class="form-group my-4">
                            <div class="auth-form-input">
                                {{ form.email|as_crispy_field }}
                            </div>
                    </div>
                </fieldset>
                <div class="button-container">
                    <input type="submit" id="submit-button" class="btn button-style" value="Submit">
                </div>           
        </form>

</section>
<!-- end Forgotten password Form -->
 <script type="module" src=" {% static 'music_app/js/validateEmail.js' %} "> </script>


{% endblock content %}