{% load static %}
{% block content%}

<!-- start home page -->
<section class="error-page">
    <div class="container align-items-center justify-content-center error-page-details">
        <div class="row justify-content-center">
            <div class="text-center col-xl-8 col-sm-10">
                <div>
                    <h2>-.- Oh no ERROR! -.-</h2>
                    <h4>{{ message }}</h4>
                </div>
                <div class="log-message mt-4">
                    <div class="row justify-content-md-center mb-2">
                        <p>Please include the technical details below when contacting the support.</p>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="alert alert-danger" role="alert">
                            <medium class="text-muted">
                                {{error_text|linebreaks}}
                            </medium>
                        </div>
                    </div>
                </div>
                <div class="my-5">
                    <a class="error-btn-fill" href="{% url 'music_app_home' %}">Return home</a>
                    <!-- <a class="error-btn" href="mailto:nlauditanalyticsssp@deloitte.nl">Report problem</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}