{% extends "layout_app_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<!-- start nav-bar -->
<header class="header">
  <nav class="navbar">
    <ul class="navbar-container" >
      <li><a href="{% url 'music_app_home' %}" class="nav-link">Home</a></li>
      <li><a href="{% url 'user_login' %}" class="nav-link">Login</a></li>
      <li><a href="{% url 'user_registration' %}" class="nav-link">Sign Up</a></li>
    </ul>
  </nav>
</header>
<!-- end nav-bar -->

<!-- Start Login Form-->
<section class="page-details">
    <div class="container align-items-center justify-content-between page-info">
        <form id="auth-form" class="form-group" method="POST" action="{{ form_action_url }}" enctype="multipart/form-data">
            <title> Reset your password</title>
            {% csrf_token %}
                <fieldset class="form-group my-4">
                            <!-- Alert messages -->
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="auth-form-input">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <div class="auth-form-input">
                                 {{ form.new_password2|as_crispy_field }}
                                <input type="checkbox" class="show-password-toggle" id="show_password_checkbox">
                                <label for="show_password_checkbox">Show Password</label>
                            </div>
                </fieldset>
                <div class="button-container">
                    <input type="submit" id="submit-button" class="btn button-style" value="Update">
                </div>       
        </form>

</section>
<!-- end Login Form -->

<script src=" {% static 'music_app/js/show_password.js' %} "> </script>

{% endblock content %}