{% extends "layout_app_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- start nav-bar -->
<header class="header">
  <nav class="navbar">
    <ul class="navbar-container" >
      <li><a href="{% url 'music_app_home' %}" class="nav-link">Home</a></li>
      <li><a href="{% url 'user_login' %}" class="nav-link">Login</a></li>
      <li><a href="{% url 'user_registration' %}" class="nav-link">Sign Up</a></li>
    </ul>
  </nav>
</header>
<!-- end nav-bar -->

<!-- Start Login Form-->
<section class="page-details">
    <div class="container align-items-center justify-content-between page-info">
        <form id="auth-form" class="form-group my-5" method="POST" action="{{ form_action_url }}" enctype="multipart/form-data">
            <title> Login  to Music App</title>
            {% csrf_token %}
                <fieldset class="form-group my-4">
                    <div class="auth-form-input">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="auth-form-input">
                        {{ form.password|as_crispy_field }}
                        <input type="checkbox" class="show-password-toggle" id="show_password_checkbox">
                        <label for="show_password_checkbox">Show Password</label>
                    </div>
                </fieldset>
                <div class="d-flex align-items-center justify-content-between">
                    <input type="submit" id="submit-button" class="btn button-style" value="Login">
                </div>
                <div class="button-container">
                    <a href = "{% url 'user_forgotten_password' %}"> Forgotten your password?</a>
                </div>            
        </form>

</section>
<!-- end Login Form -->

<script src=" {% static 'music_app/js/show_password.js' %} "> </script>

{% endblock content %}