{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<!-- start breadcrumbs -->
<section class="breadcrumbs">
    <div class="container d-flex align-items-center justify-content-between">
        <ul>
            <li><a  href="{% url 'music_app_home' %}">Home</a></li>
            <li><a  href="{% url 'user_login' %}">Login</a></li>
            <li><a  href="{% url 'user_registration' %}">Sign Up</a></li>
        </ul>
    </div>
</section>
<!-- end breadcrumbs -->

<body>
    <h1> Your profile has been successfully activated :)</h1>
</body>
{% endblock content %}