{% load static %}
{% block content %}

{% load crispy_forms_tags %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<!-- start breadcrumbs -->
<section class="breadcrumbs">
    <div class="container d-flex align-items-center justify-content-between">
        <ul>
            <li><a  href="{% url 'music_app_home' %}">Home</a></li>
            <li><a  href="{% url 'user_login' %}">Login</a></li>
            <li><a  href="{% url 'user_registration' %}">Sign Up</a></li>
        </ul>
    </div>
</section>
<!-- end breadcrumbs -->

<!-- Start Forgotten password Form-->
<section class="page-details">
    <div class="container align-items-center justify-content-between page-info bg-white">
        <form id="form" class="form-group" method="POST" action="{{ form_action_url }}" enctype="multipart/form-data">
            <title> Forgotten Your Password -.-</title>
            {% csrf_token %}
                <fieldset class="form-group my-4">
                            <!-- Alert messages -->
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                    <div class="form-group form-row">
                        <div class="form-group row align-items-base">
                            <div class="col-lg-5">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="d-flex align-items-center justify-content-between">
                    <input type="submit" id="submit-button" class="btn button-style" value="Submit">
                </div>           
        </form>

</section>
<!-- end Forgotten password Form -->

{% endblock content %}