{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<!-- start breadcrumbs -->
<section class="breadcrumbs">
    <div class="container d-flex align-items-center justify-content-between">
        <ul>
            <li><a  href="{% url 'music_app_home' %}">Home</a></li>
            <li><a  href="{% url 'user_login' %}">Login</a></li>
            <li><a  href="{% url 'user_registration' %}">Sign Up</a></li>
        </ul>
    </div>
</section>
<!-- end breadcrumbs -->

<body>
    <h1>  Epic thanks for signing up :)</h1>

    <p>Please check your email to authenticate your profile. Be sure to also check yout Junk or Spam folders. </p>
</body>
<form action="{% url 'user_authentication' user_id=user_id %}" method="post" >
    {% csrf_token %}
    <div class="d-flex align-items-center justify-content-between">
        <input type="submit" id="submit-button" class="btn button-style" value="Re-send authentication email">
    </div>
</form>
{% endblock content %}